@import "tailwindcss";

input::placeholder {
    color: lightgray
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #000000;
}


.btn-spotify {
    background: #1DB954;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn-spotify:active {
    position: relative;
    top: 1px;
}

.btn-spotify:hover {
    background: #1ed760;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    margin-top: -4px;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 4px;
    border-radius: 2px;
}

input[type="range"]:focus {
    outline: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #121212;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}